<%= form_for(@project) do |f| %>

<% if params[:preview_button] %>
  <%= @project.name %>
  <%= @project.description %>
<% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= submit_tag "submit"%>
    <%= submit_tag "preview", :name => "preview_button" %>
  </div>
<% end %>
